
# PlanAhead Generated physical constraints 

NET "clk20MHz" LOC = P123;
NET "rowKeypad[3]" LOC = P23;
NET "rowKeypad[2]" LOC = P21;
NET "rowKeypad[1]" LOC = P16;
NET "rowKeypad[0]" LOC = P14;
NET "columnKeypad[3]" LOC = P11;
NET "columnKeypad[2]" LOC = P9;
NET "columnKeypad[1]" LOC = P7;
NET "columnKeypad[0]" LOC = P5;
NET "resetBtn" LOC = P24;
NET "startBtn" LOC = P22;
NET "xGiveupBtn" LOC = P17;
NET "oGiveupBtn" LOC = P15;
NET "rgbLed[2]" LOC = P1;
NET "rgbLed[1]" LOC = P142;
NET "rgbLed[0]" LOC = P140;
NET "gndLed[17]" LOC = P138;
NET "gndLed[16]" LOC = P134;
NET "gndLed[15]" LOC = P132;
NET "gndLed[14]" LOC = P127;
NET "gndLed[13]" LOC = P124;
NET "gndLed[12]" LOC = P2;
NET "gndLed[11]" LOC = P143;
NET "gndLed[10]" LOC = P141;
NET "gndLed[9]" LOC = P139;
NET "gndLed[8]" LOC = P137;
NET "gndLed[7]" LOC = P133;
NET "gndLed[6]" LOC = P131;
NET "gndLed[5]" LOC = P126;
NET "gndLed[4]" LOC = P121;
NET "gndLed[3]" LOC = P120;
NET "gndLed[2]" LOC = P119;
NET "gndLed[1]" LOC = P118;
NET "gndLed[0]" LOC = P117;
NET "Buzzer" LOC = P83;
